body{
margin:0;
font-family:'Inter',sans-serif;
background:#F7F5F2;
color:#2F2F2F;
transition:0.4s;
}

.dark{
background:#121212;
color:white;
}

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background-image:url('https://source.unsplash.com/1600x900/?nature,landscape');
background-size:cover;
background-position:center;
color:white;
position:relative;
}

.overlay{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.45);
}

.hero h1{
font-family:'Playfair Display',serif;
font-size:64px;
z-index:1;
margin:0;
}

.hero p{
z-index:1;
font-size:20px;
margin-top:10px;
}

.hero button{
margin-top:20px;
padding:10px 20px;
border:none;
background:#EADBC8;
cursor:pointer;
z-index:1;
}

.gallery{
padding:80px 40px;
}

.grid{
max-width:1200px;
margin:auto;
columns:3;
column-gap:25px;
}

.grid img{
width:100%;
margin-bottom:25px;
border-radius:15px;
cursor:pointer;
transition:0.3s;
}

.grid img:hover{
transform:scale(1.03);
}

.about{
background:#EADBC8;
padding:80px 20px;
text-align:center;
}

.about h2{
font-family:'Playfair Display',serif;
font-size:34px;
}

footer{
padding:40px;
text-align:center;
background:#F0ECE6;
}

#viewer{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.9);
display:none;
justify-content:center;
align-items:center;
}

#viewer img{
max-width:90%;
max-height:90%;
border-radius:10px;
}
